.number {
}

.number .card__body {
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
}

.number__digit {
  color: white;
  width: 1in;
  height: 1in;
  font-size: 1in;
  line-height: 0.9in;
  text-align: center;
  vertical-align: middle;
}




.number .card__body {
  flex-direction: column;
  writing-mode: vertical-rl;
}

.number__priority_deal {
  color: white;
  padding: 0.5em;
  border-right: 1px solid;
}